{{- /*gotype: estimator/cmd/estimator-gen.Context*/ -}}

# oss-estimator

Set of tools to get info about GitHub project that is needed to estimate the cost of running it.

## Tools

| Tool                                                     | Description                                                                                               |
|----------------------------------------------------------|-----------------------------------------------------------------------------------------------------------|
| [estimator-dl](./cmd/estimator-dl/main.go)               | Download from [gharchive.org](https://gharchive.org) and save to zstd-compressed clickhouse native format |
| [estimator-sloc](./cmd/estimator-sloc/main.go)           | SLOC count using [scc](https://github.com/boyter/scc/) (should be in $PATH)                               |
| [estimator-list](./cmd/estimator-list/main.go)           | Concurrently fetch popular oss repos and stat for them                                                    |
| [estimator-aggregate](./cmd/estimator-aggregate/main.go) | Aggregate stats                                                                                           |
| [estimator-gen](./cmd/estimator-gen/main.go)             | Generate README.md                                                                                        |


## Data used
- [gharchive.org](https://gharchive.org), GitHub events archive from 2014 until now
- Direct clone of GitHub repos (~50GB of data)
- [cncf/gitdm](https://github.com/cncf/gitdm/tree/master), CNCF affiliation of developers

## Example

```console
$ go run ./cmd/estimator-sloc open-telemetry/opentelemetry-ebpf
+-------------------+
| open-telemetry/op |
| entelemetry-ebpf  |
+---------+---------+
| SLOC    | 4295    |
| Commits | 267     |
| PR      | 110     |
| HEAD    | df4e6e6 |
+---------+---------+
```

```console
$ du -hs _work/
31G	_work
```

## Stats

Languages: {{ .Languages }}.

### Effort

Effort is **rough estimate** how much developer-years it would take to write some project from scratch in proprietary,
enterprise environment (i.e. in a big company).

Current model is very simple: we estimate that average developer writes 12k SLOC per year.

TODO:
- Take into account COCOMO (not suitable for FOSS?)
- Estimate on commits and PRs (can vary a lot)
    - Average developer makes 3 commits per year
    - Exclude robot commits and PRs, like dependabot
- Research papers on FOSS effort estimation if proposed model is applicable

### Aggregates

Some organizations are highlighted in bold, they represent additional aggregated statistics.

#### CNCF

Organizations that are CNCF projects (graduated, incubating, sandbox).

#### K8s

Repositories in kubernetes and kuberentes-sigs organizations.

### Organizations
| Organization | SLOC | Commits | PRs | Stars | Language | Effort |
|--------------|------|---------|-----|-------|----------|--------|
{{ range .Orgs -}}
| [{{ .Title }}]({{ .URL }})  | {{ formatInt .SLOC }} | {{ formatInt .Commits }} | {{ formatInt .PR }} | {{ formatInt .Stars }} | {{ .Lang }} | {{ formatFloat .Effort }} |
{{ end }}

### Repositories
| Repository | SLOC | Commits | PRs | Stars | Language | Effort |
|------------|------|---------|-----|-------|----------|--------|
{{ range .Repos -}}
| [{{ .Title }}]({{ .URL }})  | {{ formatInt .SLOC }} | {{ formatInt .Commits }} | {{ formatInt .PR }} | {{ formatInt .Stars }} | {{ .Lang }} | {{ formatFloat .Effort }} |
{{ end }}

### CNCF Projects
| Project | SLOC | Commits | PRs | Stars | Language | Effort |
|---------|------|---------|-----|-------|----------|--------|
{{ range .CNCF -}}
| [{{ .Title }}]({{ .URL }})  | {{ formatInt .SLOC }} | {{ formatInt .Commits }} | {{ formatInt .PR }} | {{ formatInt .Stars }} | {{ .Lang }} | {{ formatFloat .Effort }} |
{{ end }}

### OTEL Instrumentations
| Project | SLOC | Commits | PRs | Stars | Effort |
|---------|------|---------|-----|-------|--------|
{{ range .OTEL -}}
| [{{ .Short }}]({{ .URL }})  | {{ formatInt .SLOC }} | {{ formatInt .Commits }} | {{ formatInt .PR }} | {{ formatInt .Stars }} | {{ .Effort }} |
{{ end }}
