{{- /*gotype: estimator/cmd/estimator-gen.Context*/ -}}

# oss-estimator

Set of tools to get info about GitHub project that is needed to estimate the cost of running it.

## Tools

| Tool                                         | Description                                                                                               |
|----------------------------------------------|-----------------------------------------------------------------------------------------------------------|
| [estimator-dl](./cmd/estimator-dl/main.go)   | Download from [gharchive.org](https://gharchive.org) and save to zstd-compressed clickhouse native format |
| [estimator-sloc](./cmd/estimator-sloc/main.go)  | SLOC count using [scc](https://github.com/boyter/scc/) (should be in $PATH)                               |
| [estimator-list](./cmd/estimator-list/main.go)  | Concurrently fetch popular oss repos and stat for them                                                    |
| [estimator-aggregate](./cmd/estimator-aggregate/main.go) | Aggregate stats                                                                                           |
| [estimator-gen](./cmd/estimator-gen/main.go)       | Generate README.md                                                                                        |


## Example

```console
$ go run ./cmd/estimator-sloc open-telemetry/opentelemetry-ebpf
+-------------------+
| open-telemetry/op |
| entelemetry-ebpf  |
+---------+---------+
| SLOC    | 4295    |
| Commits | 267     |
| PR      | 110     |
| HEAD    | df4e6e6 |
+---------+---------+
```

```console
$ du -hs _work/
31G	_work
```

## Stats

Languages: {{ .Languages }}

### Organizations
| Organization | SLOC | Commits | PRs | Stars | Language |
|--------------|------|---------|-----|-------|----------|
{{ range .Orgs -}}
| [{{ .Title }}]({{ .URL }})  | {{ formatNumber .SLOC }} | {{ formatNumber .Commits }} | {{ formatNumber .PR }} | {{ formatNumber .Stars }} | {{ .Lang }} |
{{ end }}

### Repositories
| Repository | SLOC | Commits | PRs | Stars | Language |
|------------|------|---------|-----|-------|----------|
{{ range .Repos -}}
| [{{ .Title }}]({{ .URL }})  | {{ formatNumber .SLOC }} | {{ formatNumber .Commits }} | {{ formatNumber .PR }} | {{ formatNumber .Stars }} | {{ .Lang }} |
{{ end }}

### CNCF Projects
| Project | SLOC | Commits | PRs | Stars | Language |
|---------|------|---------|-----|-------|----------|
{{ range .CNCF -}}
| [{{ .Title }}]({{ .URL }})  | {{ formatNumber .SLOC }} | {{ formatNumber .Commits }} | {{ formatNumber .PR }} | {{ formatNumber .Stars }} | {{ .Lang }} |
{{ end }}
